/*
 * PersonalCloudStorageAPIsLib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ) on 10/10/2016
 */
package com.verizon.cloudapi.api.controllers;

import java.io.*;
import java.util.*;
import java.util.concurrent.*;
import com.fasterxml.jackson.core.JsonProcessingException;
import com.fasterxml.jackson.core.type.TypeReference;

import com.verizon.cloudapi.api.*;
import com.verizon.cloudapi.api.models.*;
import com.verizon.cloudapi.api.exceptions.*;
import com.verizon.cloudapi.api.http.client.HttpClient;
import com.verizon.cloudapi.api.http.client.HttpContext;
import com.verizon.cloudapi.api.http.request.HttpRequest;
import com.verizon.cloudapi.api.http.response.HttpResponse;
import com.verizon.cloudapi.api.http.response.HttpStringResponse;
import com.verizon.cloudapi.api.http.client.APICallBack;
import com.verizon.cloudapi.api.controllers.syncwrapper.APICallBackCatcher;

public class TagsController extends BaseController {    
    //private static variables for the singleton pattern
    private static Object syncObject = new Object();
    private static TagsController instance = null;

    /**
     * Singleton pattern implementation 
     * @return The singleton instance of the TagsController class 
     */
    public static TagsController getInstance() {
        synchronized (syncObject) {
            if (null == instance) {
                instance = new TagsController();
            }
        }
        return instance;
    }

    /**
     * Get the list of tags on a file or folder.
     * @param    path    Required parameter: The path to the file or folder for which tags need to be retrieved
     * @return    Returns the TagsResponse response from the API call 
     */
    public TagsResponse getTags(
                final String path
    ) throws Throwable {
        APICallBackCatcher<TagsResponse> callback = new APICallBackCatcher<TagsResponse>();
        getTagsAsync(path, callback);
        if(!callback.isSuccess())
            throw callback.getError();
        return callback.getResult();
    }

    /**
     * Get the list of tags on a file or folder.
     * @param    path    Required parameter: The path to the file or folder for which tags need to be retrieved
     * @return    Returns the void response from the API call 
     */
    public void getTagsAsync(
                final String path,
                final APICallBack<TagsResponse> callBack
    ) {
        //the base uri for api requests
        String _baseUri = Configuration.baseUri;

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri);
        _queryBuilder.append("/tags/{path}");

        //process template parameters
        APIHelper.appendUrlWithTemplateParameters(_queryBuilder, new HashMap<String, Object>() {
            private static final long serialVersionUID = 5553000522535789628L;
            {
                    put( "path", path );
            }});
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>() {
            private static final long serialVersionUID = 4792191388118656875L;
            {
                    put( "user-agent", "APIMATIC 2.0" );
                    put( "accept", "application/json" );
                    put( "Authorization", String.format("Bearer %1$s", Configuration.oAuthAccessToken) );
            }
        };

        //prepare and invoke the API call request to fetch the response
        final HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

        //invoke the callback before request if its not null
        if (getHttpCallBack() != null)
        {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        //invoke request and get response
        Runnable _responseTask = new Runnable() {
            public void run() {
                //make the API call
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //Error handling using HTTP status codes
                            int _responseCode = _response.getStatusCode();
                            if (_responseCode == 401)
                                throw new ErrorResponseException("[Unauthorized] Bearer token is missing, expired, or invalid.", _context);

                            else if (_responseCode == 404)
                                throw new ErrorResponseException("[Not Found] File or folder was not found.", _context);

                            else if (_responseCode == 410)
                                throw new ErrorResponseException("[Gone] File or folder was removed.", _context);

                            else if (_responseCode == 503)
                                throw new ErrorResponseException("[Service Unavailable] See response body for more detail.", _context);

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            String _responseBody = ((HttpStringResponse)_response).getBody();
                            TagsResponse _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<TagsResponse>(){});

                            //let the caller know of the success
                            callBack.onSuccess(_context, _result);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (IOException ioException) {
                            //let the caller know of the caught IO Exception
                            callBack.onFailure(_context, ioException);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)	
                            {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Delete the tags on a file or folder.
     * @param    uri    Required parameter: URI of the resource. This is a URI value obtained from a fullview or metadata response
     * @param    createVersion    Optional parameter: If 'true', creates a new version of the file or folder. Defaults to 'false'.
     * @return    Returns the void response from the API call 
     */
    public void deleteTags(
                final String uri,
                final Boolean createVersion
    ) throws Throwable {
        APICallBackCatcher<Object> callback = new APICallBackCatcher<Object>();
        deleteTagsAsync(uri, createVersion, callback);
        if(!callback.isSuccess())
            throw callback.getError();
        callback.getResult();
    }

    /**
     * Delete the tags on a file or folder.
     * @param    uri    Required parameter: URI of the resource. This is a URI value obtained from a fullview or metadata response
     * @param    createVersion    Optional parameter: If 'true', creates a new version of the file or folder. Defaults to 'false'.
     * @return    Returns the void response from the API call 
     */
    public void deleteTagsAsync(
                final String uri,
                final Boolean createVersion,
                final APICallBack<Object> callBack
    ) {
        //the base uri for api requests
        String _baseUri = Configuration.baseUri;

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri);
        _queryBuilder.append("/tags");

        //process query parameters
        APIHelper.appendUrlWithQueryParameters(_queryBuilder, new HashMap<String, Object>() {
            private static final long serialVersionUID = 5445365908980206794L;
            {
                    put( "uri", uri );
                    put( "createVersion", (null != createVersion) ? createVersion : false );
            }});
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>() {
            private static final long serialVersionUID = 5341744726172665505L;
            {
                    put( "user-agent", "APIMATIC 2.0" );
                    put( "Authorization", String.format("Bearer %1$s", Configuration.oAuthAccessToken) );
            }
        };

        //prepare and invoke the API call request to fetch the response
        final HttpRequest _request = getClientInstance().delete(_queryUrl, _headers, null);

        //invoke the callback before request if its not null
        if (getHttpCallBack() != null)
        {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        //invoke request and get response
        Runnable _responseTask = new Runnable() {
            public void run() {
                //make the API call
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //Error handling using HTTP status codes
                            int _responseCode = _response.getStatusCode();
                            if (_responseCode == 400)
                                throw new ErrorResponseException("[Bad Request] Query parameters missing or invalid.", _context);

                            else if (_responseCode == 401)
                                throw new ErrorResponseException("[Unauthorized] Bearer token is missing, expired, or invalid.", _context);

                            else if (_responseCode == 404)
                                throw new ErrorResponseException("[Not Found] File or folder was not found.", _context);

                            else if (_responseCode == 503)
                                throw new ErrorResponseException("[Service Unavailable] See response body for more detail.", _context);

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //let the caller know of the success
                            callBack.onSuccess(_context, _context);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)	
                            {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Update the tags on a file or folder.
     * @param    updateTags    Required parameter: Allows a user to update Tags on a file or folder
     * @return    Returns the TagsResponse response from the API call 
     */
    public TagsResponse updateTags(
                final UpdateTagsRequest updateTags
    ) throws Throwable {
        APICallBackCatcher<TagsResponse> callback = new APICallBackCatcher<TagsResponse>();
        updateTagsAsync(updateTags, callback);
        if(!callback.isSuccess())
            throw callback.getError();
        return callback.getResult();
    }

    /**
     * Update the tags on a file or folder.
     * @param    updateTags    Required parameter: Allows a user to update Tags on a file or folder
     * @return    Returns the void response from the API call 
     */
    public void updateTagsAsync(
                final UpdateTagsRequest updateTags,
                final APICallBack<TagsResponse> callBack
    ) throws JsonProcessingException {
        //the base uri for api requests
        String _baseUri = Configuration.baseUri;

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri);
        _queryBuilder.append("/tags");
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>() {
            private static final long serialVersionUID = 5127990079710319085L;
            {
                    put( "user-agent", "APIMATIC 2.0" );
                    put( "accept", "application/json" );
                    put( "Authorization", String.format("Bearer %1$s", Configuration.oAuthAccessToken) );
            }
        };

        //prepare and invoke the API call request to fetch the response
        final HttpRequest _request = getClientInstance().putBody(_queryUrl, _headers, APIHelper.serialize(updateTags));

        //invoke the callback before request if its not null
        if (getHttpCallBack() != null)
        {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        //invoke request and get response
        Runnable _responseTask = new Runnable() {
            public void run() {
                //make the API call
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //Error handling using HTTP status codes
                            int _responseCode = _response.getStatusCode();
                            if (_responseCode == 400)
                                throw new ErrorResponseException("[Bad Request] Query parameters missing or invalid.", _context);

                            else if (_responseCode == 401)
                                throw new ErrorResponseException("[Unauthorized] Bearer token is missing, expired, or invalid.", _context);

                            else if (_responseCode == 404)
                                throw new ErrorResponseException("[Not Found] File or folder was not found.", _context);

                            else if (_responseCode == 503)
                                throw new ErrorResponseException("[Service Unavailable] See response body for more detail.", _context);

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            String _responseBody = ((HttpStringResponse)_response).getBody();
                            TagsResponse _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<TagsResponse>(){});

                            //let the caller know of the success
                            callBack.onSuccess(_context, _result);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (IOException ioException) {
                            //let the caller know of the caught IO Exception
                            callBack.onFailure(_context, ioException);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)	
                            {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

}